name: Build Frontend and Backend

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Frontend build
      - name: Install frontend dependencies
        run: npm install
        working-directory: ./frontend

      - name: Run Grunt for frontend
        run: grunt
        working-directory: ./frontend

      # Backend setup (optional)
      - name: Install backend dependencies
        run: npm install
        working-directory: ./backend
